body {
	font-family: "Noto Sans", "Noto Sans CJK SC Regular", "Arial", "Microsoft Yahei", sans;
	line-height: 1.8;
}

h1, h2, h3 {
	font-family: "Noto Sans", "Noto Sans CJK SC Regular", "Arial", "Microsoft Yahei", sans;
	font-weight: normal;
}

.remark-code, .remark-inline-code { 
	font-family: "JetBrains Mono", "Noto Sans Mono", "Noto Sans Mono CJK SC", "Microsoft Yahei", Monaco, monospace; 
}

